@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Anasayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">İletişim Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            İletişim alanı ile ilgili işlemleri burada yapabilirsiniz. Tema bütünlüğü için sadece 1 adet iletişim bilgisi oluşturmalısınız.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Konum</th>
                                    <th scope="col">Telefon</th>
                                    <th scope="col">Mail</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contact in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@contact.Location</td>
                                        <td>@contact.PhoneNumber</td>
                                        <td>@contact.Mail</td>
                                        <td>@contact.FooterDescription</td>
                                        <td><a href="/Contact/DeleteContact/@contact.Id" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Contact/UpdateContact/@contact.Id" class="btn btn-outline-warning">Güncelle</a></td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <a href="/Contact/CreateContact" class="btn btn-outline-primary">İltişim Bilgisi Ekle</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

